.drawing-area {
  width: 512px;
  margin: auto;

  &__canvas {
    width: 512px;
    height: 512px;
    background-image: url("./canvasBackground.png");
    background-repeat: repeat;
    border: 1px solid #c4c4c4;
    image-rendering: pixelated;
  }

  &__slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    margin-top: 50px;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 45.18px;
      height: 47.97px;
      border: 0;
      background: #00bcd4;
      border-radius: 50% 50% 50% 0;
      transform: rotate(-45deg);
      margin-top: -50px;
      cursor: pointer;
    }

    &::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
    }

    &-value {
      position: relative;
      font-family: "Roboto";
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
      top: -50px;
      left: 7px;
    }
  }
}

.cursor-pen {
  cursor: url("../tools/pen/pen.png") 0 32, auto;
}

.cursor-stroke {
  cursor: url("../tools/stroke/stroke.png") 0 32, auto;
}

.cursor-paint-bucket {
  cursor: url("../tools/paintBucket/paintBucket.png") 0 32, auto;
}

.cursor-color-picker {
  cursor: url("../tools/colorPicker/dropper.png") 0 32, auto;
}

.cursor-eraser {
  cursor: url("../tools/eraser/eraser.png") 0 32, auto;
}
