@import "./functions";
@import "./variables";

.menu {
  width: 80vw;
  margin: size(40px) auto;
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.tools {
  height: 44px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;

  @media (max-width: $mobile) {
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    height: size(44px);
    font-size: size(14px);
  }
}

.refresh {
  height: 100%;
  margin-right: 4px;
  width: 48px;
  background-image: url(../img/refresh.svg);
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 30px;
  line-height: 44px;
  text-align: center;
  font-weight: 900;
  box-shadow: 0.3vw 0.3vw 0.2vw 0 rgb(63, 62, 63);
  transition: all ease 0.3s;
  cursor: pointer;

  @media (min-width: $desktop) {
    width: size(44px);
  }

  &:active {
    box-shadow: 0 0 0 0 rgb(63, 62, 63);
  }
}

.lang {
  height: 100%;
  width: 75px;
  margin-right: 4px;
  position: relative;
  user-select: none;
  display: flex;
  flex-direction: column;
  border-width: 0 2px 0 2px;
  border-style: solid;
  background: rgba(174, 181, 185, 0.5);
  border-radius: 5px;
  font-size: 1.2em;
  padding: 4%;
  color: $main-color;
  cursor: pointer;
  text-transform: uppercase;

  @media (min-width: $desktop) {
    width: size(71px);
  }

  &__option {
    font-size: 0.7em;
  }
}

.units {
  width: 88px;
  display: flex;
  height: 100%;

  @media (min-width: $desktop) {
    width: size(88px);
  }

  &__unit {
    width: 44px;
    background: rgba(174, 181, 185, 0.5);
    box-shadow: 0.3vw 0.3vw 0.2vw 0 rgb(63, 62, 63);
    border-radius: 5px;
    font-size: 14px;
    line-height: 17px;
    font-size: 18px;
    line-height: 44px;
    text-align: center;
    cursor: pointer;

    @media (min-width: $desktop) {
      width: size(44px);
      font-size: size(14px);
      line-height: size(17px);
      font-size: size(18px);
      line-height: size(44px);
    }

    &.selected {
      background: rgba(76, 82, 85, 0.4);
      box-shadow: 0 0 0 0 rgb(63, 62, 63);
    }
  }
}
