html, body, div, span, p {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	line-height: 1;
}

ul, ol {
	list-style: none;
}

a {
	text-decoration: none;
}